.btn {
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: none;
  display: inline-block;
  transition: all .3s ease;
  cursor: pointer;
  &.btn-primary {
    color: $primary;
    background-color: transparent;
    &:hover {
      color: $white;
      background-color: $primary;
    }
  }

  &.btn-secondary {
    color: $primary;
    &:hover {
      color: $white;
      background-color: $secondary;
    }
  }
}