.content {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 3fr 21fr;
  background-color: $baseGray;
  padding-top: $headerHeight;
  min-height: 100vh;
}

.main {
  padding: 10px 10px 20px 10px;
  display: grid;
  grid-template-columns: 7fr 7fr 7fr;
  column-gap: 10px;
  row-gap: 10px;
}

@media screen and (max-width: 1280px) {
  .main {
    grid-template-columns: 50% 50%;
  }
}

@media screen and (max-width: 768px) {
  .main {
    grid-template-columns: 100%;
  }
}