.content {
  display: grid;
  height: 100vh;
  width: 100%;
  grid-template-columns: 3fr 21fr;
  background-color: $baseGray;
  padding-top: $headerHeight;
  min-height: 100vh;
}

.main {
  padding: 10px 10px 15px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
  .portlets {
    display: grid;
    grid-template-columns: 7fr 7fr 7fr;
    column-gap: 10px;
    row-gap: 10px;
    flex-basis: 100%;
    grid-auto-rows: 330px;
  }
}

@media screen and (max-width: 1280px) {
  .main {
    .portlets {
      grid-template-columns: 1fr 1fr;
    }

  }
}

@media screen and (max-width: 768px) {
  .main {
    .portlets {
      grid-template-columns: 1fr;
    }
  }
}