.dropdown {
    position: relative;
    height: $headerHeight;
  &-trigger {
    background-color: transparent;
    position: relative;
    min-width: 260px;
    padding: 0 25px;
    height: 100%;
    cursor: pointer;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
    .icon {
      width: 8px;
      height: 7px;
      opacity: 0.54;
      margin-left: 20px;
    }
    &:hover,
    &.active {
      background-color: $primary;
    }
  }
  &-content {
    min-width: 260px;
    background-color: $white;
    position: absolute;
    right: 0;
    top: $headerHeight;
    box-shadow: 1px 1.7px 4px 0 rgba($black, 0.25);
    display: none;
    ul {
      li {
        a {
          display: block;
          color: #444444;
          background-color: $white;
          padding: 15px 30px 15px 20px;
          transition: all .3s ease;
          &:hover {
            background-color: $lightGray;
          }
        }
      }
    }
    &.active {
      display: block;
    }
  }
}