.img-responsive {
  max-width: 100%;
  height: auto;
}

.list-unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}

.flex {
  display: flex;
  &-column {
    flex-direction: column;
    justify-content: center;
  }
  &-v-center {
    justify-content: center;
  }
  &-h-center {
    align-items: center;
  }
  &-row {
    flex-direction: row;
  }
  &-column {
    flex-direction: column;
  }
}