/* === PX TO EMS CONVERTER === */

$browser-context: 16; // Default

@mixin fontSize($sizeValue: $browser-context) {
  font-size: ($sizeValue) + px;
  font-size: ($sizeValue / $browser-context) + em;
}