// $primary: #009EE0;
$primary: #008CC6;
$primaryLighter: #009EE0;
$baseGray: #EAEAEA;
$lightGray: #F8F8F8;
$mediumGray: #777777;
$darkGray: #222222;
$black: #000000;
$white: #FFFFFF;

$headerHeight: 54px;

