@import 'variables';
@import 'mixins';
@import 'typography';
@import 'icons';
@import 'helpers';
@import 'header';
@import 'dropdown';
@import 'sidebar';
@import 'drawer';
@import 'content';
@import 'portlet';

*, :after, :before {
	box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: $white;
  font-family: Arial, sans-serif;
  @include fontSize(13);
}

button {
  margin: 0;
  padding: 0;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  &:focus {
    outline: none;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.dashboard {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
}
