@import 'variables';
@import 'mixins';
@import 'typography';
@import 'helpers';
@import 'header';
@import 'sidebar';
@import 'drawer';
@import 'content';
@import 'portlet';

*, :after, :before {
	box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: $white;
  font-family: Arial, sans-serif;
  @include fontSize(13);
}

.dashboard {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
}
