@import 'variables';
@import 'mixins';
@import 'typography';
@import 'icons';
@import 'helpers';
@import 'buttons';
@import 'header';
@import 'sidebar';
@import 'drawer';
@import 'content';
@import 'ui-components';
@import 'portlet';

*, :after, :before {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4, 
h5,
h6 {
  padding: 0;
  margin: 0;
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  background-color: $white;
  font-family: Arial, sans-serif;
  font-size: fontSize(13px);
  font-weight: normal;
  font-style: normal;
}

button {
  margin: 0;
  padding: 0;
  user-select: none;
  background-color: transparent;
  border: none;
  &:focus {
    outline: none;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.dashboard {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
  position: relative;
}
