/* === PX TO EMS CONVERTER === */
.body-copy {
  font-family: Arial;
  font-size: 0.92857em;
  line-height: 1.54;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  margin: 20px 0;
  color: #333333;
}

.text-small {
  font-size: 0.85714em;
  line-height: normal;
}

.text-bold {
  font-weight: bold;
}

.text-primary {
  color: #008CC6;
}

.text-secondary {
  color: #318CED;
}

.text-muted {
  color: #9E9E9E;
}

.icon {
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  display: inline-block;
}

.icon-arrow-left {
  background-image: url("../assets/icons/arrow-left.svg");
}

.icon-arrow-right {
  background-image: url("../assets/icons/arrow-right.svg");
}

.icon-bell {
  background-image: url("../assets/icons/bell.svg");
}

.icon-calendar {
  background-image: url("../assets/icons/calendar.png");
}

.icon-checkmark {
  background-image: url("../assets/icons/checkmark.svg");
}

.icon-chevron-down {
  background-image: url("../assets/icons/chevron-down.svg");
}

.icon-close {
  background-image: url("../assets/icons/close.svg");
}

.icon-computer {
  background-image: url("../assets/icons/computer.svg");
}

.icon-edit {
  background-image: url("../assets/icons/edit.svg");
}

.icon-feedback {
  background-image: url("../assets/icons/feedback.svg");
}

.icon-help {
  background-image: url("../assets/icons/help.svg");
}

.icon-plus-circle {
  background-image: url("../assets/icons/plus-circle.svg");
}

.icon-rearrange {
  background-image: url("../assets/icons/rearrange.svg");
}

.icon-refresh {
  background-image: url("../assets/icons/refresh.png");
}

.icon-settings {
  background-image: url("../assets/icons/settings.svg");
}

.icon-support {
  background-image: url("../assets/icons/support.png");
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.list-unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-v-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-h-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.btn {
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: transparent;
  border: none;
  display: inline-block;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.btn.btn-primary {
  color: #008CC6;
  background-color: transparent;
}

.btn.btn-primary:hover {
  color: #FFFFFF;
  background-color: #008CC6;
}

.btn.btn-secondary {
  color: #008CC6;
}

.btn.btn-secondary:hover {
  color: #FFFFFF;
  background-color: #318CED;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 54px;
  background-color: #009EE0;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 100;
}

.header .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 21fr;
      grid-template-columns: 3fr 21fr;
  width: 100%;
  height: 100%;
}

.header .logo {
  padding-left: 20px;
  padding-right: 10px;
}

.header .menu {
  padding-left: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .item {
  color: #FFFFFF;
  font-size: 0.92857em;
  cursor: pointer;
}

.header .item:first-child {
  margin-right: 35px;
}

.header .item .icon {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}

.header .drawer-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .drawer-toggle .notifications {
  position: relative;
  height: 54px;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .drawer-toggle .notifications .notifications-count {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background-color: #008CC6;
  color: #FFFFFF;
  font-size: 12px;
  line-height: 1.5;
  font-weight: bold;
  vertical-align: middle;
}

.header .drawer-toggle .notifications .icon {
  width: 16px;
  height: 18px;
  opacity: .4;
}

.dropdown {
  position: relative;
  height: 54px;
}

.dropdown-trigger {
  background-color: transparent;
  position: relative;
  min-width: 260px;
  padding: 0 25px;
  height: 100%;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: right;
}

.dropdown-trigger .icon {
  width: 8px;
  height: 7px;
  opacity: 0.54;
  margin-left: 20px;
}

.dropdown-trigger:hover, .dropdown-trigger.active {
  background-color: #008CC6;
}

.dropdown-content {
  min-width: 260px;
  background-color: #FFFFFF;
  position: absolute;
  right: 0;
  top: 54px;
  -webkit-box-shadow: 1px 1.7px 4px 0 rgba(68, 68, 68, 0.25);
          box-shadow: 1px 1.7px 4px 0 rgba(68, 68, 68, 0.25);
  display: none;
}

.dropdown-content ul li a {
  display: block;
  color: #444444;
  background-color: #FFFFFF;
  padding: 15px 30px 15px 20px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.dropdown-content ul li a:hover {
  background-color: #F8F8F8;
}

.dropdown-content.active {
  display: block;
}

.collapsible {
  cursor: pointer;
}

.collapsible.caret:after {
  content: '\002B';
  color: #444444;
  font-size: 1em;
  line-height: inherit;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  float: right;
  margin-left: 5px;
}

.collapsible.active.caret:after {
  content: "\2212";
}

.collapsible-content {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}

.sidebar {
  background-color: #FFFFFF;
  border-right: 1px solid #BABABA;
  padding-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 20px;
}

.top-menu ul li a {
  color: #444444;
  background-color: transparent;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.top-menu ul li a:hover {
  background-color: #EAEAEA;
}

.top-menu > ul li a {
  padding: 15px 20px;
}

.top-menu > ul li a,
.top-menu .heading {
  display: block;
  font-size: 1em;
}

.top-menu .heading {
  color: #008CC6;
  padding: 0 20px 15px 20px;
}

.top-menu .menu > li a {
  font-size: 0.92857em;
  padding: 15px 20px 15px 40px;
}

.bottom-menu li a {
  display: block;
  font-size: 0.92857em;
  color: #777777;
  padding: 10px 20px;
  background-color: transparent;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.bottom-menu li a:hover {
  background-color: #EAEAEA;
}

.bottom-menu li a .icon {
  width: 19px;
  height: 19px;
  vertical-align: middle;
  margin-right: 12px;
}

.drawer {
  position: fixed;
  top: 0;
  z-index: 90;
  height: 100%;
  width: 200px;
  background-color: #EAEAEA;
  -webkit-box-shadow: -2px 0px 5px 0 rgba(0, 0, 0, 0.15);
          box-shadow: -2px 0px 5px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  padding-top: 54px;
}

.drawer-right {
  right: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.drawer-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.drawer-header {
  height: 46px;
  border-bottom: 1px solid #D6D6D6;
  padding: 18px 16px 16px 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.drawer-header .title {
  font-size: 1.14286em;
  line-height: 1;
  color: #222222;
}

.drawer-header .icon {
  width: 18px;
  height: 18px;
  vertical-align: middle;
}

.drawer-content {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding: 18px 16px 16px 20px;
  overflow-y: auto;
}

.drawer-content li {
  margin-bottom: 30px;
}

.drawer-content .item {
  font-size: 0.92857em;
  color: #444444;
}

.drawer-content .item.is-active {
  color: #008CC6;
}

.drawer-content .timestamp .icon {
  width: 13px;
  height: 13px;
  margin-right: 5px;
  margin-top: -2px;
  vertical-align: middle;
}

.drawer-footer {
  width: 100%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 18px 16px 18px 20px;
}

.drawer.visible.drawer-right {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.content {
  display: -ms-grid;
  display: grid;
  height: 100%;
  width: 100%;
  -ms-grid-columns: 3fr 21fr;
      grid-template-columns: 3fr 21fr;
  background-color: #EAEAEA;
  padding-top: 54px;
  min-height: 100vh;
}

.main {
  padding: 10px 10px 20px 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 7fr 7fr 7fr;
      grid-template-columns: 7fr 7fr 7fr;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  row-gap: 10px;
}

@media screen and (max-width: 1280px) {
  .main {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .main {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.portlet {
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.portlet-header {
  height: 46px;
  border-bottom: 1px solid #BABABA;
  padding-left: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.portlet-header .title {
  font-size: 1.14286em;
  line-height: 1;
  color: #222222;
}

.portlet-header .title .icon {
  width: 14px;
  height: 12px;
  vertical-align: middle;
  margin-right: 15px;
}

.portlet-header .actions {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portlet-header .actions .icon-btn {
  width: 46px;
  height: 100%;
  text-align: center;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.portlet-header .actions .icon-btn:hover {
  background-color: #008CC6;
}

.portlet-header .actions .icon-btn .icon {
  margin: 0 auto;
}

.portlet-header .actions .icon-btn .icon-refresh {
  width: 18px;
  height: 16px;
}

.portlet-header .actions .icon-btn .icon-edit {
  width: 16px;
  height: 16px;
}

.portlet-header .actions .icon-btn .icon-close {
  width: 12px;
  height: 12px;
}

.portlet-footer {
  height: 46px;
  background-color: #F8F8F8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portlet-footer .btn {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

*, :after, :before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
  font-family: Arial, sans-serif;
  font-size: 0.92857em;
  font-weight: normal;
  font-style: normal;
}

button {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: transparent;
  border: none;
}

button:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  position: relative;
}
/*# sourceMappingURL=main.css.map */