.pagination {
  padding: 10px 20px 0 18px;
  font-size: fontSize(13px);
  .page-nav {
    margin-left: 40px;
    margin-right: 40px;
    .nav-btn {
      padding: 10px 20px;
      .icon {
        width: 13px;
        height: 6px;
      }
    }
  }
}